In [4]:
import pandas as pd 
from path import Path

In [5]:
#load data
file_path = Path("../Resources/shopping_data.csv")
shoppingDF = pd.read_csv(file_path, encoding="ISO-8859-1")
shoppingDF.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [6]:
#list data types
shoppingDF.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [7]:
#find null values
for column in shoppingDF.columns:
    print(f"Column{column} has {shoppingDF[column].isnull().sum()} null values")

ColumnCustomerID has 0 null values
ColumnCard Member has 2 null values
ColumnAge has 2 null values
ColumnAnnual Income has 0 null values
ColumnSpending Score (1-100) has 1 null values

In [9]:
#drop null rows 
shoppingDF = shoppingDF.dropna()

In [10]:
#find duplicate entries
print(f"duplicate entries: {shoppingDF.duplicated().sum()}")

duplicate entries: 0

In [11]:
#remove customerID column
shoppingDF.drop(columns=["CustomerID"], inplace=True)
shoppingDF.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [12]:
#transform string column
def change_string(member):
    if member=="Yes":
        return 1
    else:
        return 0
shoppingDF["Card Member"] = shoppingDF["Card Member"].apply(change_string)
shoppingDF.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [13]:
#scale annual income
shoppingDF["Annual Income"] = shoppingDF["Annual Income"]/1000
shoppingDF.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [14]:
#save cleaned data
file_path = Path("../Resources/shopping_data_cleaned.csv")
shoppingDF.to_csv(file_path, index=False)